<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.watalog.NdefWriter"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.NFC" />
	<uses-feature android:name="android.hardware.nfc" android:required="true" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".NdefWriter"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/filter_nfc"
            />
        </activity>
        <activity android:name=".TextRTD">
        	<intent-filter>
        		<action android:name="net.watalog.NdefWriter.TEXT_RTD" />
				<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
        <activity android:name=".SmartPosterRTD">
        	<intent-filter>
        		<action android:name="net.watalog.NdefWriter.SMART_POSTER_RTD" />
				<category android:name="android.intent.category.DEFAULT" />
        	</intent-filter>
        </activity>
    </application>
</manifest>